body
  margin: 0
  padding: 0
  background-color: #F5E734
  max-width: 100vw

@font-face
  font-family: "Amarante-Regular"
  src: local("Amarante-Refgular"), url("/static/fonts/Amarante-Regular.eot") format("embedded-opentype"), url("/static/fonts/Amarante-Regular.woff2") format("woff2"), url("/static/fonts/Amarante-Regular.woff") format("woff"), url("/static/fonts/Amarante-Regular.ttf") format("truetype"), url("/static/fonts/Amarante-Regular.svg") format("svg")

@font-face
  font-family: "Zarathustra"
  src: local("Zarathustra"), url("/static/fonts/zarathustra.otf") format("opentype")

.app-lander
  max-width: 100vw
  position: relative
  height: 85vh

.header
  font-family: "Amarante-Regular"
  margin-top: 0.5rem
  margin-left: 5rem
  font-kerning: normal

.carlota
  font-size: 85px

.by-line
  font-family: "Zarathustra"
  font-size: 25px
  margin-left: 1rem

.menu
  margin-top: 2rem
  margin-left: 5rem
  font-family: "Amarante-Regular"
  display: flex
  flex-direction: column
  justify-content: flex-start

.onpage-button
  font-family: "Zarathustra"
  font-size: 1.5rem
  width: fit-content
  height: fit-content
  padding: 0 50px 0 30px
  margin: 10px 3px
  cursor: pointer

  &.active
    cursor: default
    background-color: black
    color: #F5E734

    &:active
      background-color: black
      color: #F5E734

  &:hover
    background-color: black
    color: #F5E734


.loteria
  position: absolute
  top: 40px
  left: 25%
  right: 0
  margin: auto
  max-height: 90%
  max-width: 90%
  z-index: -5

.foot
  padding: 30px
  text-align: center
  font-family: "Amarante-Regular"
