body
  height: 100%
  margin: 0
  padding: 0

div
  background-color: #f4e703

img
  width: 100%
  max-height: 100%

.hello-appear
  opacity: 0.1

.hello-appear.hello-appear-active
  opacity: 1
  transition: opacity 3s ease-in-out
